$colorPrimario:#dc3545;
$colorSecundario:#007bff;
$colorDark:#343a40;
$colorLight:#f8f9fa;

$fontPrimary:'Roboto', sans-serif;;
$fontSecondary:'Open Sans', sans-serif;;

$desktop:1200px;
$medium:992px;
$little:768px;